@model FrescoPlayTest.Web.Models.AnswerRelatedDetails

@{
    ViewBag.Title = "Get Question Detail";
}

<div>
    Trial count:
    <p>@Model.TrialCount</p>
    <p>Quiz completed successfully</p>
</div>


