@model FrescoPlayTest.Web.Models.EnrollmentDetails
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fresco Play quiz try </h1>
</div>

@using (Html.BeginForm("GetQuestionDetail", "Home",FormMethod.Post, new { @id = "test" }))
{
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="enrid">Enrollment Id</label>
            @Html.TextBoxFor(Model => Model.EnrolmentId, new { @id = "enrid" })
        </div>
        <div class="col-md-4 mb-3">
            <label for="ContentId">Content Id</label>
            @Html.TextBoxFor(Model => Model.ContentId, new { @id = "ContentId" })
        </div>
        <div class="col-md-4 mb-3">
            <label for="ApiKey">Api Key</label>
            @Html.TextBoxFor(Model => Model.ApiKey, new { @id = "ApiKey" })
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit form</button>
}

<script type="text/javascript">
    $(document).ready(function () {
        var test = "{\"enrollment_id\":477284,\"content_id\":2162,\"sections\":[{\"section_id\":219,\"questions\":[{\"question_id\":2349,\"answer_ids\":[8446]},{\"question_id\":2348,\"answer_ids\":[8444]},{\"question_id\":2351,\"answer_ids\":[8456]},{\"question_id\":2350,\"answer_ids\":[8452]}]}]}";
        var check = test.replace(/"/g,'\"' );
        alert(check);
        //alert("9");
    });
</script>